<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Select Driver</ng-template>

    <h2 class="main-color">Active Drivers</h2>
    <ul class="heroes">
      <li
        *ngFor="let driver of drivers"
        [class.selected]="driver === selectedDriver"
        (click)="onSelect(driver)"
      >
        <span>{{ driver.name }}</span>
      </li>
    </ul>
    <div>
      <button mat-button matStepperNext [disabled]="!selectedDriver">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Track your Driver</ng-template>
    <div class="row m-0" [hidden]="!selectedDriver">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Driver's location
          </div>
          <div class="card-body">
            <div id="map" class="map" #map></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
