body {
  background-color: #623aa7;
}
form {
  direction: rtl;
}

.rtl-direction {
  direction: rtl;
  overflow: auto;
}
#resetSection {
  background-color: #623aa7;
  padding-top: 120px;
}
#mailSection .form-body {
  padding: 120px 0;
  border-radius: 10px;
}
#mailSection .form-body .form-container {
  width: 50px;
}
.ng-valid[required],
.ng-valid.required {
  border-right: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-right: 5px solid #dc3545; /* red */
}
.purple-color {
  color: #673ab7;
}
.reset-input {
  width: 50%;
}
