<html>
  <head> </head>
  <body>
    <section id="resetSection" class="w-100">
      <div class="form-body w-50 m-auto bg-white p-5">
        <div class="form-container m-auto">
          <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
            <div class="form-group rtl-direction">
              <label for="new" class="float-right">كلمة المرور الجديدة</label>
              <div class="clearfix"></div>
              <input
                type="password"
                class="form-control reset-input"
                id="newPass"
                required
                [(ngModel)]="password.new"
                name="new"
                #new="ngModel"
                minlength="8"
                maxlength="30"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              />
              <div
                [hidden]="new.valid || new.pristine"
                class="alert alert-danger float-right mt-2"
              >
                يجب ان تكون كلمة المرور بين 8 و 30 حرف وتتكون من حروف وارقام
                ورموز خاصة
              </div>
              <div class="clearfix"></div>
            </div>
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!passwordForm.form.valid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
