<html>
  <head> </head>
  <body>
    <section id="resetSection" class="w-100">
      <div class="form-body w-50 m-auto bg-white">
        <div class="form-container m-auto">
          <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
            <div class="form-group rtl-direction">
              <label for="new" class="float-right">كلمة المرور الجديدة</label>
              <div class="clearfix"></div>
              <input
                type="password"
                class="form-control reset-input"
                id="newPass"
                required
                [(ngModel)]="password.new"
                name="new"
                #new="ngModel"
                minlength="6"
                maxlength="64"
                pattern="[^\s]*"
              />
              <div
                [hidden]="new.valid || new.pristine"
                class="alert alert-danger"
              >
                -must be between 6 and 64 characters.
                <br />
                -You can't use white spaces.
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!passwordForm.form.valid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
