<div class="row" *ngIf="passenger">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img
              class="avatar border-gray"
              src="assets/img/mike.jpg"
              alt="..."
            />
            <h5 class="title">
              {{ passenger.name.first }} {{ passenger.name.last }}
            </h5>
          </a>
          <p class="description">{{ passenger.mail }}</p>
        </div>
        <p class="description text-center">
          {{
            passenger.mail_verified
              ? "Email verified."
              : "Email is not verified yet."
          }}
        </p>
      </div>
      <div class="card-footer">
        <hr />
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>
                {{ passenger.rate }}
                <br />
                <small>Rate</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>
                {{ passenger._pastTrips.length }}
                <br />
                <small>Trips</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto p-0">
              <h5>
                {{ passenger.balance }}$
                <br />
                <small>Balance</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Family Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li *ngFor="let member of passenger._family; let i = index">
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img
                    src="assets/img/mike.jpg"
                    alt="Circle Image"
                    class="img-circle img-no-padding img-responsive"
                  />
                </div>
              </div>
              <div class="col-md-7 col-7">
                {{ member.name.first }} {{ member.name.last }}
                <br />
                <span class="text-success">
                  <small>Active</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button
                  (click)="redirectToFamilyMember(member._id)"
                  class="btn btn-sm btn-outline-success btn-round btn-icon"
                >
                  <i class="fa fa-envelope"></i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Phone</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  name="phone"
                  value="{{ passenger.phone }}"
                  [(ngModel)]="phone"
                />
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="mail"
                  value="{{ passenger.mail }}"
                  [(ngModel)]="mail"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Company"
                  name="firstName"
                  value="{{ passenger.name.first }}"
                  [(ngModel)]="firstName"
                />
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  name="lastName"
                  value="{{ passenger.name.last }}"
                  [(ngModel)]="lastName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Govern</label>
                <select
                  type="text"
                  class="form-control"
                  name="govern"
                  value="{{ passenger.govern }}"
                  [(ngModel)]="govern"
                >
                  <option *ngFor="let govern of governs" [ngValue]="govern">
                    {{ govern }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button
                type="submit"
                class="btn btn-primary btn-round"
                (click)="editPassenger()"
              >
                Update Profile
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
