<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Passengers</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let header of users.headerRow | slice: 1">
                {{ header }}
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users.dataRows">
                <td>
                  {{
                    user.name.constructor.name === "String"
                      ? user.name
                      : user.name.first.constructor.name === "String"
                      ? user.name.first + " " + user.name.last
                      : "Null"
                  }}
                </td>
                <td>
                  {{ user.phone }}
                </td>
                <td>
                  {{ user.rate }}
                </td>
                <td>
                  {{ user.balance }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
