<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ data.title }}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th *ngFor="let header of data.headerRow">
                {{ header }}
              </th>
              <th>
                {{ data.buttonName }}
              </th>
            </thead>
            <tbody>
              <ng-container *ngIf="data.dataRows">
                <tr *ngFor="let item of data.dataRows; let i = index">
                  <td *ngFor="let key of data.keys">
                    {{
                      key === "end"
                        ? (item[key] | date: "dd/MM/yyyy")
                        : key === "start"
                        ? (item[key] | date: "dd/MM/yyyy")
                        : key === "date"
                        ? (item[key] | date: "dd/MM/yyyy")
                        : item[key]
                    }}
                  </td>
                  <td>
                    <button
                      class="btn btn-danger"
                      id="{{ 'offer' + i }}"
                      (click)="buttonClick(i)"
                    >
                      {{ data.buttonName }}
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
