<div class="row m-0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-md-between">
        <h4 class="card-title main-color font-weight-bold">{{ data.title }}</h4>
        <form>
          <div class="input-group no-border">
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="Search by {{ data.searchField }}"
              (input)="onSearchChange($event.target.value)"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th *ngFor="let header of data.headerRow" class="text-center">
                {{ header }}
              </th>
              <th class="text-center">
                {{ data.buttonName }}
              </th>
            </thead>
            <tbody>
              <ng-container *ngIf="data.dataRows">
                <tr *ngFor="let item of searchResult.dataRows; let i = index">
                  <td *ngFor="let key of searchResult.keys" class="text-center">
                    {{
                      key === "end"
                        ? (item[key] | date: "dd/MM/yyyy")
                        : key === "start"
                        ? (item[key] | date: "dd/MM/yyyy")
                        : key === "date"
                        ? (item[key] | date: "dd/MM/yyyy")
                        : item[key]
                    }}
                  </td>
                  <td class="text-center">
                    <button
                      class="btn main-btn"
                      id="{{ 'offer' + i }}"
                      (click)="buttonClick(i)"
                    >
                      {{ data.buttonName }}
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
